<footer class="py-6 bg-gray-900 text-sm text-white">
  <div class="container mx-auto o-4">
    <p>The code in this starter is occasionally updated and maintained by <a class="underline" href="https://github.com/babycourageous/">babycourageous</a>. It's mostly for personal use but hopefully someone else might find it helpful as well.</p>
    <p class="text-xs italic">This starter project was inspired by the official <a class="underline" href="https://github.com/11ty/eleventy-base-blog">11ty Base Blog Starter</a> as well as <a href="https://github.com/philhawksworth/eleventyone">EleventyOne</a> by <a class="underline" href="https://github.com/philhawksworth">Phil Hawksworth</a>.
    </p>
  </div>
</footer>