<header class="flex flex-none items-center p-5 border-t-8 border-green-500">
  <img class="w-12 h-12 rounded-full" style="filter: grayscale(100%);" src="https://scontent-atl3-1.cdninstagram.com/vp/768c25b77374f71639a51485fc74a685/5E040666/t51.2885-19/11123772_1084778481538176_52257420_a.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com" alt="">
  <ul class="flex ml-auto">
    {%- for nav in site.nav -%}
      <li class="ml-4 {% if nav.url == page.url %}is-active{% endif %}">
        <a href="{{ nav.url | url }}">{{ nav.item }}</a>
      </li>
    {%- endfor -%}
  </ul>
</header>