---
layout: base
---
<h1 class="text-3xl">Vinings Gallery (Roswell, GA)</h1>

<div class="w-full o-6">
  <section>
    <p>Home Page</p>
    <div class="grid grid-cols-2 gap-2">
      <img class="block" src="/images/portfolio/vinings-home-old.png" alt="">
      <img class="block" src="/images/portfolio/vinings-home.png" alt="">
    </div>
  </section>
  <section>
    <p>Featured Artists</p>
    <div class="grid grid-cols-2 gap-2">
      <img src="/images/portfolio/vinings-featured-old.png" alt="">
      <img src="/images/portfolio/vinings-featured.png" alt="">
    </div>
  </section>
  <section>
    <p>Upcoming Events</p>
    <div class="grid grid-cols-2 gap-2">
      <img src="/images/portfolio/vinings-events-old.png" alt="">
      <img src="/images/portfolio/vinings-events.png" alt="">
    </div>
  </section>
</div>