<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
      <title>{{ title }} | {{site.title}}</title>
    {% else %}
      <title>{{site.title}}</title>
    {% endif %}
    <meta name="Description" content="{{ renderData.description or description or site.description }}">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif|Source+Sans+Pro:400,700|Fira+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ '/css/styles.css' | url }}">
  </head>
  <body class="flex flex-col h-screen font-serif bg-gray-900">
    <div class="p-0 bg-gray-900 font-sans text-white sm:p-6">
      {%- include "header.njk" -%}
      <main class="flex-holy w-5/6 max-w-2xl mx-auto pb-16{% if templateClass %} {{ templateClass }}{% endif %}">
        {{ content | safe }}
      </main>
    </div>
    <script src="/javascript/index.js"></script>
  </body>
</html>