---
layout: base
---
<article>
  <h1 class="mb-2 font-sans text-3xl leading-none uppercase">{{title}}</h1>
  {% if featuredimage %}
    <figure class="h-64">
      <img class="w-full h-full object-cover object-top" src="{{featuredimage}}">
    </figure>
  {% endif %}
  {% if toc %}
    <aside class="mt-10 text-lg">{{content | toc | safe}}</aside>
  {% endif %}
  <div class="post-content mt-10">
    {{content | safe}}
  </div>
</article>