---
layout: base
---

<div class="max-w-xl mx-auto">
  <div>
    <span class="text-xl">My name is</span><br>
    <span class="text-6xl text-green-600 leading-none">Rene Dellefont</span><br>
    <span class="text-xl">I build websites.</span>
  </div>
  <p class="mt-6">Hi, I'm a front end web developer with over a decade of experience in agencies and as a self-employed business. I specialize in creating clean, maintainable, easy-to-use sites using the latest technologies. Your site will look great and you will be able to have it updated with ease.</p>
  <p class="mt-4">In addition, my involvement in theater and entertainment has given me indispensable tools to creatively problem solve, adapt to new direction, and think on my feet.</p>
</div>