---
layout: base
---

<div class="max-w-xl mx-auto">
  <h1 class="text-6xl text-green-600 leading-none">Thank you!</h1>

  <p class="mt-6">Thanks for getting in touch!</p>
  <p class="mt-4">Your email should wind up in my inbox soon. I'll look over it and get back to you shortly.</p>
</div>